	/* Transcript container */
	div.container{
		  overflow:auto;
		  overflow-y: hidden;

	}
	/* Adjust container font size once screen is smaller than 450px */
	@media only screen and (max-width: 450px) {
	  div.container {
	    font-size:14px;

	  }
	}