/* Login / Registration styling sheet  */

/* General font and style */
* {
  	font-family: Arial, sans-serif;
  	box-sizing: border-box;

}
/* Login and register boxes */
.login, .register {
    /* box width */
  	width: 405px;
  	/* Shadow around the box and color of the shadow */
  	box-shadow: 0 0 12px 0 rgb(0, 0, 0, 0.4);
  	margin: 65px auto;
}
/* Styling of header i.e Login */
h1 {

  	font-size: 28px;
  	text-align: center;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee1f3;
}
/* Position register and login links */
.links {
  	padding: 0 15px;

}
.line{
    margin-top:5px;
    border-bottom: 1px solid #dee1f3;
}
/* style registration and login links */
.links a {
  	color: #aaabad;
  	text-decoration: none;
  	display: inline-flex;
  	padding: 0 12px 12px 12px;
  	font-weight: bold;
}
/* Links color when active i.e pressed */
.links a.active {
  	border-bottom: 4px solid #343A40;
  	color: #343A40;
}
/* Login/Registration form location  */
form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 22px;
}
/* Form label - Displayed as an icon inside of the box  */
label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #343A40;
  	color: white;
}
/* Style input form input fields  */
select,input[type="text"],input[type="password"],input[type="email"]{
  	width: 310px;
  	height: 50px;
  	border: 2px solid #dee1f3;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
/* Style submit buttons for both forms  */
input[type="submit"]{
  	width: 100%;
  	padding: 15px;
  	margin-top: 20px;
  	background-color: #343A40;
  	border: 0;
  	cursor: pointer;
  	font-size: 18px;
  	font-weight: bold;
  	color: white;
  	transition: background-color 0.5s;
}
/* Hover submit button  */
input[type="submit"]:hover {
  	background-color: #65686b;
  	transition: background-color 0.5s;
}
