<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<!-- Page sizes` -->
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Chart.js used to draw the chart -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.1/chart.min.js"></script>
	<!-- Link for bootstrap -->
	<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
	<link href="{{ url_for('static', filename='container.css') }}" rel="stylesheet">

	<!-- MathJax aligning script -->
	<p style="display:none">
		mjx-container[jax="CHTML"][display="true"] {
		display: none;
		text-align: left;
		margin: 1em 0;
		}
		MathJax = {
		chtml: { displayAlign: 'left' }
		processEnvironments: true
		};
	</p>
	<!-- Mathjax aligning style -->
	<style>
        mjx-container[jax="CHTML"][display="true"] {
            display: inline;
            text-align: left;
            margin: 1em 0;

        }
        .MathJax_Display {
            text-align: left !important;

        }

	</style>

</head>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
	<!-- Hello message on navigation bar -->
	<a class="navbar-brand" style="color:white">Hello {{session['username']}}</a>
	<!-- Button that displays menu inside of a mobile view -->
	<button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
	        data-target="#navbarNav" data-toggle="collapse" type="button">
		<!-- Icon for a button-->
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Main navigation bar, can be collapsed if necessary-->
	<div class="collapse navbar-collapse" id="navbarNav" role="navigation">
		<!-- Navigation bar buttons-->
		<ul class="nav navbar-nav mr-auto">
			<!-- Teacher menu navigation links -->
			{% if session['teacher']%}
			<li class="nav-item  ">
				<a class="nav-link" href="/home">Student Progress<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item ">
				<a aria-selected="false" class="nav-link" href="/createQuiz">Create Quiz<span
						class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="/quiz">View Quiz<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="/teacherResults">View Results<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="/groupSettings">Group Settings<span class="sr-only">(current)</span></a>
			</li>
			<!-- Student menu navigation links -->
			{% else %}
			<li class="nav-item active">
				<a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/quiz">Take Quiz<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/studentresults">View Results<span class="sr-only">(current)</span></a>
			</li>
			{% endif %}
		</ul>
		<!-- Logout button -->
		<a class="btn btn-outline-light my-2 my-sm-0" href="/logout">Logout</a>

	</div>
</nav>

<div class="container">

	{% block body %}
	<title>Home</title>
	<!-- Student chart view -->
	{% if not session['teacher']%}
	<!-- If chart data exists -->
	{% if the_scores %}
	<div style="overflow:auto">
		<h1>Student Progress</h1><br>
		<h3>Current Average: {{the_average}}%</h3>
		<!-- chart drawing script using chart.js  -->
		<!-- Initiate chart size and style  -->
		<canvas height="150" id="myChart" style="display: block; margin-top:5%; box-sizing: border-box;"
		        width="250"></canvas>
		<script>
            // create chart object
            var ctx = document.getElementById('myChart').getContext('2d');
            // define constants and behaviour of the graph i.e skip datapoint if missing
            const skipped = (ctx, value) => ctx.p0.skip || ctx.p1.skip ? value : undefined;
            const down = (ctx, value) => ctx.p0.parsed.y > ctx.p1.parsed.y ? value : undefined;
            // Average scores used to draw moving average line
            var average = [{% for item in the_scores %}
            "{{item}}",
                {% endfor %}]
            // chart object
            var myChart = new Chart(ctx, {
                // type of chart
                type: 'line',
                // data used to draw the line
                data: {
                    // chart labels used i.e names of the quizzes taken
                    labels: [{% for item in the_names %}
								"{{item}}",
							{% endfor %}],
            // data points
            datasets: [{
                //data for main score line going up
                label: 'Progression',
                data: [{% for item in the_scores %}
							{{ item }},
            {% endfor %}],
                borderColor: 'rgb(75, 192, 192)',
                    backgroundColor: 'rgb(75, 192, 192)',
                        tension: 0.1,
                            segment: {
                borderColor: ctx => skipped(ctx, 'rgb(0,0,0,0.2)') || down(ctx, 'rgb(192,75,75)'),
			      }
			    },
            {
                // style of the line going down
                label: "Regression",
                    borderColor: 'rgb(192,75,75)',
                        backgroundColor: 'rgb(192,75,75)'
            },
            {
                // moving average line
                label: "Score moving average",
                    data: [{% for item in the_movingAverage %}
            {{ item }},
            {% endfor %}],
            tension: 0.1,
                borderColor: 'rgb(50,160,230)',
                    backgroundColor: 'rgb(50,160,230)'
			    },],

			    },
            // define and style chart axis
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                            title: {
                            display: true,
                                text: 'Quiz Score'
                        },
                        ticks: {
                            // Include a % sign with the label values
                            callback: function(value) {
                                return value + '%';
                            }
                        }

                    },
                    x: {
                        title: {
                            display: true,
                                text: 'Quiz Name',

			                     }
                    }
                }
            }
			});



		</script>
		<!-- if no chart data ie. student did not complete any quizzes-->
		{% else %}
		<h2>No quiz have been completed</h2>
		<p>Complete the first quiz to view the progress!!!</p>
		{% endif %}
		<!-- Teacher chart view -->
		{% else %}
		<h1>Student Progress</h1><br>
		<!-- Form to select group of students to view their charts -->
		<form method="POST" role="form">
			<div class="form-group">
				<!-- Select group of students to view their charts-->
				<label>Select student group to view the overall progress:</label>
				<select class="studentGroup form-control" id="studentGroup" name="studentGroup" onchange="this.form.submit()">
					<option disabled hidden selected>Quiz Group</option>
					<!-- Populate select tag with groups of students assigned to the teacher -->
					{% for group in the_studentGroups%}
					{{group}}
					<option value="{{group}}">{{group}}</option>
					{% endfor %}
				</select>
			</div>

		</form>

		{% endif %}
		{% endblock %}
	</div>
</div>

<!-- MathJax Main configuration + aligment -->
<script async id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    MathJax.Hub.Config({
        jax: ["input/TeX", "output/HTML-CSS"],
        displayAlign: "left"
    });


</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</html>