{% extends 'home.html' %}
{% block body %}

<br><h3 id="result"></h3>
<h1>{{the_message}}</h1>

<form action="quiz" id="quiz" method="POST">

	{% for q in the_questions %}
	<h2>Q{{the_questions.index(q)+1}} </h2>

	<p>
		<br>{{q['question']}}<br> <br>
	<div style="margin-left:2%;">
		\[{{q['equation']}}\]
	</div>
	</p>


	<div id="labels">
		<input class="radioa" name="{{the_questions.index(q)+1}}" required type="radio" value="{{q['a']}}">
		<label class="a">$${{q['a']}}$$</label> <br><br>
		<input class="radiob" name="{{the_questions.index(q)+1}}" required type="radio" value="{{q['b']}}">
		<label class='b'>$${{q['b']}}$$</label> <br><br>
		<input class="radioc" name="{{the_questions.index(q)+1}}" required type="radio" value="{{q['c']}}">
		<label class='c'>$${{q['c']}}$$</label> <br><br>
		<input class="radiod" name="{{the_questions.index(q)+1}}" required type="radio" value="{{q['d']}}">
		<label class='d'>$${{q['d']}}$$</label> <br><br>
	</div>


	{% endfor %}

	<br><br><input class="btn btn-info" id="submitbutton" type="submit" value="Submit"><br><br>
	{% if the_message %}

	<script type="text/javascript">
            document.getElementById("submitbutton").style.visibility = "hidden";

	</script>
	{% elif the_data %}
	<script type="text/javascript">
            document.getElementById("submitbutton").style.visibility = "hidden";

	</script>
	{% endif %}
</form>

{% endblock %}


