{% extends 'home.html' %}
{% block body %}


<section style="margin-top:5%" >

	{% if the_results%}
	<table class="table table-hover">
		<thead>
		<tr>
			{% for name in the_columnNames%}
			<th scope="col">{{name}}</th>
			{% endfor %}
		</tr>
		</thead>
		<tbody>
		{% for row in the_results %}
		<tr>
			<form action="{{url_for('getTest',quizID = row[0])}}" id="bob" method="POST">
				{% for data in row %}
				{% if data == row[-1]%}
				<td>{{data}} %</td>
				{% else %}
				<td>{{data}}</td>

				{% endif %}
				{% endfor %}
				<td style="cursor: pointer;">
					<input class="btn btn-outline-info" for="bob" type="submit" value="View Test">
				</td>
			</form>

		</tr>
		{% endfor %}

		</tbody>
	</table>
	{% else %}
	<H2>No Quizzes have been completed</H2>
	{% endif %}
</section>
{% endblock %}