{% extends 'home.html' %}
{% block body %}


<section style="margin-top:5%">


    <table class="table table-hover">
        <thead>
        <tr>
            {% for name in the_columnNames%}
            <th scope="col">{{name}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in the_results %}
        <tr>
            <form id="bob" method ="POST" action="{{url_for('getTest',quizID = row[0])}}">
            {% for data in row %}
                {% if data == row[-1]%}
                    <td>{{data}} %</td>
                {% else %}
                     <td>{{data}}</td>

                {% endif %}
            {% endfor %}
                <td style="cursor: pointer;">
                <input class="btn btn-outline-info" type="submit" value="View Test" for = "bob">
            </td>
            </form>

        </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
{% endblock %}