<!-- Extend the style of the home page  -->
{% extends 'home.html' %}
<!-- Start of page body  -->
{% block body %}
<!-- if selected person completed at lest one quiz  -->
{% if the_scores %}
<!-- Page content -->
<div style="overflow:auto">
	<!-- Main heading-->
	<h1>Student Progress</h1><br>
	<!-- Name of the student -->
	<h4>Student: {{the_name[0]}} {{the_name[1]}}</h4><br>
	<!-- Current quiz average of the completed quizzes -->
	<h4>Current Average: {{the_average}}%</h4>
	<!-- Include chart.js to draw the charts  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.1/chart.min.js"></script>
	<!-- Initialise the chart -->
	<canvas height="150" id="myChart" style="display: block; margin-top:5%; box-sizing: border-box;"
	        width="250"></canvas>
	<script>
            // create chart object
            var ctx = document.getElementById('myChart').getContext('2d');
            // define constants and behaviour of the graph i.e skip datapoint if missing
            const skipped = (ctx, value) => ctx.p0.skip || ctx.p1.skip ? value : undefined;
            const down = (ctx, value) => ctx.p0.parsed.y > ctx.p1.parsed.y ? value : undefined;
            // Average scores used to draw moving average line
            var average = [{% for item in the_scores %}
            "{{item}}",
                {% endfor %}]
            // chart object
            var myChart = new Chart(ctx, {
                // type of chart
                type: 'line',
                // data used to draw the line
                data: {
                    // chart labels used i.e names of the quizzes taken
                    labels: [{% for item in the_names %}
								"{{item}}",
							{% endfor %}],
            // data points
            datasets: [{
                //data for main score line going up
                label: 'Progression',
                data: [{% for item in the_scores %}
							{{ item }},
            {% endfor %}],
                borderColor: 'rgb(75, 192, 192)',
                    backgroundColor: 'rgb(75, 192, 192)',
                        tension: 0.1,
                            segment: {
                borderColor: ctx => skipped(ctx, 'rgb(0,0,0,0.2)') || down(ctx, 'rgb(192,75,75)'),
			      }
			    },
            {
                // style of the line going down
                label: "Regression",
                    borderColor: 'rgb(192,75,75)',
                        backgroundColor: 'rgb(192,75,75)'
            },
            {
                // moving average line
                label: "Score moving average",
                    data: [{% for item in the_movingAverage %}
            {{ item }},
            {% endfor %}],
            tension: 0.1,
                borderColor: 'rgb(50,160,230)',
                    backgroundColor: 'rgb(50,160,230)'
			    },],

			    },
            // define and style chart axis
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                            title: {
                            display: true,
                                text: 'Quiz Score'
                        },
                        ticks: {
                            // Include a % sign with the label values
                            callback: function(value) {
                                return value + '%';
                            }
                        }

                    },
                    x: {
                        title: {
                            display: true,
                                text: 'Quiz Name',

			                     }
                    }
                }
            }
			});




	</script>
	<!-- Selected student did not complete any quizes  -->
	{% else %}
	<!-- Message if no quizzes have been completed  -->
	<h2>No quiz have been completed</h2>
	<p>Complete the first quiz to view the progress!!!</p>
	{% endif %}
</div>
{% endblock %}